body {
    font-family: 'Quicksand', sans-serif;
    background-color: #D2D2D2;
    position: relative;
  }
.navbar-brand{
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    color: #4B4941 !important;
}
.nav-link{
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    color: #4B4941 !important;
}
.time{
    transition: 300ms ease;
  }
.jumbotron{
    background-image: url(/src/img/banner-min.png);
    background-size: cover;
    height: 900px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
}
.jumbotron .container{
    z-index: 1;
    position: relative;
}
.jumbotron .display-4{
    color: #4B4941;
    margin-top: 300px;
    font-weight: 400;
}
.jumbotron .lead{
    color: #4B4941;
    font-weight: 400;
}
.btn-join-now{
    font-weight: 500;
}
.title{
    margin-top: 10px;
    font-size: 30px;
    color: #4B4941;
    font-weight: 600;
}
hr{
    border: none;
    height: 5px;
    color: #4B4941;
    background-color: #4B4941;
}
hr.hro{
    border: none;
    height: 5px;
    color: #4B4941;
    background-color: #4B4941;
    
}
.embedchannel{
    margin-top: 30px;
    text-align: center;
    ;
}
.embedshop{
    margin-top: 50px;
    text-align: center;
}
hr.footer{
    border: none;
    height: 2px;
    color: #4B4941;
    background-color: #4B4941;
}
.footerr{
    margin-top: 100px;
    text-align: center;
}
.footerrr{
  margin-top: 250px;
    text-align: center;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #F5CD79;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background: #F5CD79;
  }
  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }

  .feedback{
      margin-top: 100px;
  }
  h1.display{
    font-weight: 600;
    color: #4B4941;
  }
  p.dsplay-feedback{
      font-size: 20px;
  }

p.subspan{
    font-size: 17px;
    font-weight: 500;
}

.section-card {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    color: #555555;
    margin-top: 10px;
  }
  .section-card-icon-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
  }

  .bot span{
    padding: 5px ;
    background-color: #7289DA;
    color: white;
    border-radius: 5px;
  }

  .subspan span{
    padding: 5px ;
    background-color: #FAAE2B;
    color: #4B4941;
    border-radius: 5px;
  }
  .bot{
      font-size: 20px;
      font-weight: 600;
  }

  .btn-coming {
    padding: 8px;
    background-color: #7289DA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
  }
  .btn-coming:hover {
    background-color: #97c6e5;
    color: #202040;
    transition: 0.5s;
    text-decoration: none;
  }
  .card-bot{
      justify-content: center;
  }

  .form{
    margin-top: 120px;
  }

  .stream{
    margin-top: -740px;
  }

  .donation{
    margin-top: 100px;
  }

  .card-list{
    margin-top: 100px;
  }

  .event-list-judul{
    margin-top: 150px;
  }
  .card-event {
    text-decoration: none;
    color: #2C2E41;
    max-width: 300px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(44, 46, 65, .15);
    transition: all .3s ease-in-out;
  }

  .event-list-judul{
    text-align: center;
  }
  .event-list-judul h2{
    font-weight: 600;
    font-style: italic;
    color: #4B4941;
  }
  .event-card{
    margin-top: -600px;
    z-index: 1;
  }
  .event-card:hover{
    box-shadow: 0px 2px #888888;
  }
  .link-teks{
    text-decoration: none !important;
    text-align: center;
    color: #4B4941;
  }
  .link-teks:hover{
    color: #555555;
  }
  .img-valorant{
    margin-top: 200px;
  }
  .des{
    margin-top: 200px;
    font-size: 20px;
    font-weight: 500;
  }
  .des span{
    padding: 5px ;
    background-color: #7289DA;
    color: white;
    border-radius: 5px;
  }

  .plyr *:focus {
    outline: 0;
}
.plyr__play-large {
    cursor: pointer;
}
.plyr {
    border-radius: 6px
}


  @media (min-width: 992px) {

    
    
    .nav-link{
        margin-right: 30px;
        
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #4B4941;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
  }

  @media (max-width: 575.98px) { 
    .stream{
      margin-top: -700px;
    }
    .qr{
      text-align: center;
    }
    .donation{
      z-index: 1;
    }
    
   }